@media only screen and (min-width: 75em) {
   header, main, nav, footer, img{
      max-width: 2400px;
      flex:none;
}
  
  body {
     font-size: 1.5rem;
  }

button {
   display: none;
}

main ul li {
   background-color:#8ECAE6; 
 }


nav ul{
   font-size: 2rem;
   display: flex;
   justify-content: space-evenly;
   float: none;
}

 nav ul.hide {
   font-size: 2rem;
   display:flex;
   justify-content: space-evenly;
}

.forecast, .map {
   display: inline;
}
.gallery {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
}
   

#gallery1:hover {
   box-shadow: 0 0 50px #333;
   text-align: center;
}
#gallery2:hover {
   box-shadow: 0 0 50px #333;
}
#gallery3:hover {
   box-shadow: 0 0 50px #333;
}
#gallery4:hover {
   box-shadow: 0 0 50px #333;
}
#gallery5:hover {
   box-shadow: 0 0 50px #333;
}
#gallery6:hover {
   box-shadow: 0 0 50px #333;
}
#gallery7:hover {
   box-shadow: 0 0 50px #333;
}
#gallery8:hover {
   box-shadow: 0 0 50px #333;
}
#gallery9:hover {
   box-shadow: 0 0 50px #333;
}

}