@media only screen and (min-width: 64em) {
   header, nav, main, footer {
      max-width: 1500px;
      flex:none;
  }
  
  body {
     font-size: 2.5rem;
  }

button {
   display: none;
}

main ul li {
   background-color:#8ECAE6; 
 }

 nav ul.hide {
   display: flex;
   justify-content: space-between;
   font-size: 2rem;
}

}