body {
    font-size: 16pt; 
}

header, nav, main, footer {
    max-width: 760px;
    margin: 0 auto;
    padding: 1.5rem;
}

header {
    background-color: #8ECAE6;
    padding: 1.5rem;
}

header img {
    float: left;
}

h1 {
    font-size: 2.4rem;
    font-family: 'Suez One', serif;
    color: #023047;
}

h2 {
    font-family: 'Suez One', serif;
    color: #fb8500;
}

.about {
    font-family: 'Suez One', serif;
    color: #FFB703;
    font-size: 5rem;
}

h3 {
    font-family: 'Suez One', serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

ul li {
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    background-color: #023047;
    color: #FFB703;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}    
 
.footerlink {
    text-decoration:none;
   color: white;
}

.lessonlist a {
    text-decoration:none;
    color:black;
}

.primary {
    background-color: #8ECAE6;
    color: white;
}

.secondary {
    background-color: #023047;
    color: white;
}

.accent1 {
    background-color: #FB8500;
    color: white;
}

.accent2 {
    background-color: #FFB703;
    color: white;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }

nav {
    background-color: #8ECAE6;
    padding: 1.5rem;
}
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: white;
    color: #13C0D4;
  } 
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    border: 3px solid #ccc;
  }

main ul li {
    display: block;
    margin:10px auto;
    border:1px dashed #000;
    background-color:#8ECAE6;
  }

main a {
    text-decoration: none;
    list-style: none;
    color:white;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}