@media only screen and (min-width: 75em) {
   header, main, nav, footer {
      max-width: 2400px;
      flex:none;
}

img {
   max-width: 100%;
   flex:none;
}
  

  body {
     font-size: 1.5rem;
  }

nav button {
   display: none;
}

main ul li {
   background-color:#8ECAE6; 
 }


nav ul{
   font-size: 2rem;
   display: flex;
   justify-content: space-evenly;
   float: none;
}

 nav ul.hide {
   font-size: 2rem;
   display:flex;
   justify-content: space-evenly;
}

.forecast, .map {
   display: flex;
}

form fieldset {
   max-width: 50%;
}

.gallery {
   grid-template-columns: 1fr 1fr 1fr;
}

.gallery img {
   width: 400px;
   height: 300px;
}

#gallery1:hover {
   box-shadow: 0 0 50px #333;
   text-align: center;
}
#gallery2:hover {
   box-shadow: 0 0 50px #333;
}
#gallery3:hover {
   box-shadow: 0 0 50px #333;
}
#gallery4:hover {
   box-shadow: 0 0 50px #333;
}
#gallery5:hover {
   box-shadow: 0 0 50px #333;
}
#gallery6:hover {
   box-shadow: 0 0 50px #333;
}
#gallery7:hover {
   box-shadow: 0 0 50px #333;
}
#gallery8:hover {
   box-shadow: 0 0 50px #333;
}
#gallery9:hover {
   box-shadow: 0 0 50px #333;
}

.cards {
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

#Preston {
   width: 27%;
   align-content: space-evenly;
   text-align: center;
   display: block;
}

#Fish\ Haven {
   width: 27%;
   align-content: space-evenly;
   text-align: center;
   display: block;
}

#Soda\ Springs {
   width: 27%;
   align-content: space-evenly;
   text-align: center;
   display: block;
}

.article p {
   padding: 1.5rem;
   font-size: 2rem;
}

.contactInfo {font-size: 2rem;}


}