@media only screen and (min-width: 40em) {
   nav ul {
      list-style-type: none;
      display:block;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-size: 2rem;
   }

   h1 {
      font-size: 3rem;
   }

   nav ul.hide {
      display: none;
  }
  
  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    main ul li {
      background-color:grey; 
    }

    .weathersummary, h4 {
       font-size: 16pt;
       margin: .25em;
    }

    .weathersummary, p {
       font-size: 12pt;
       margin:0;
    }

   .gallery {
      grid-template-columns: 1fr 1fr;
   }

   .gallery img {
      width: 300px;
      height: 200px;
   }

   .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

#Preston {
   align-content: center;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 15% 15% 15% 15% 15%;
   text-align:start;
}

#Preston img {
   align-content:end;
   grid-column: 2;
   grid-row-start: 2;
   grid-row-end: 4;
}

#Preston p , #Preston h3 , #Preston h4 {
   grid-column: 1;
}

#Fish\ Haven {
   align-content: center;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 15% 15% 15% 15% 15%;
   text-align:end;
}

#Fish\ Haven img {
   align-content:start;
   grid-column: 1;
   grid-row-start: 2;
   grid-row-end: 4;
}

#Fish\ Haven p , #Fish\ Haven h3 , #Fish\ Haven h4 {
   grid-column: 2;
}

#Soda\ Springs {
   align-content: center;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 15% 15% 15% 15% 15%;
   text-align:start;}

#Soda\ Springs img {
   align-content:end;
   grid-column: 2;
   grid-row-start: 2;
   grid-row-end: 4;
}

#Soda\ Springs p , #Soda\ Springs h3 , #Soda\ Springs h4 {
   grid-column: 1;
}

}