@media only screen and (max-width: 37.5em) {
 nav ul {
    list-style-type: none;
    display:block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 2em;
 }
 h1 {
    font-size: 2.3rem;
 }
}